.first-image {
  // background-image: url(/assets/homepage.png);
  background-color:hsla(270,65%,60%,1);
  // mesh gradient:
  background-image:
  radial-gradient(at 39% 30%, hsla(268,56%,60%,1) 0px, transparent 50%),
  radial-gradient(at 34% 71%, hsla(300,100%,93%,0.5) 0px, transparent 50%),
  radial-gradient(at 96% 96%, hsla(289,81%,60%,1) 0px, transparent 50%),
  radial-gradient(at 8% 3%, hsla(266,83%,41%,1) 0px, transparent 50%),
  radial-gradient(at 22% 93%, hsla(241,100%,70%,1) 0px, transparent 50%);
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;  /* Resize the background image to cover the entire container */
}
