
<div class="footer-navigation">
  <div class="button-container">

    <%#= link_to basic_qr_code_reader_path do%>
      <%# <span class="material-symbols-outlined navigation-icon">qr_code_scanner</span> %>
    <%# end %>

    <%# <span class="material-symbols-outlined navigation-icon">search</span> %>

    <button class="btn btn-primary">List</button>
    <button class="btn btn-primary">Generate</button>
  </div>
</div>
