
<div class="footer-navigation">
  <div class="button-container">

    <%#= link_to basic_qr_code_reader_path do%>
      <%# <span class="material-symbols-outlined navigation-icon">qr_code_scanner</span> %>
    <%# end %>

    <%# <span class="material-symbols-outlined navigation-icon">search</span> %>
    <a href="<%= list_path %>" class="btn btn-primary size">List</a>
    <%# <button class="btn btn-primary size">List</button> %>
    <a href="<%= root_path %>" class="btn btn-primary size">Scan</a>

    <a href="<%= qrcode_path(1)%>" class="btn btn-primary size">Generate</a>




  </div>
</div>

<style>
 .size {
  width: 96px;
 }
</style>
