.list {
  padding: $spacer;
}

.list a {
  text-decoration: none;
  color: $black;
}

.list-header {
  box-shadow: 2px 3px 4px 0px rgba(84, 84, 81, 28%);
  padding-bottom: 1px;
  padding-top: $spacer*0.5;
  color: $white;
  margin: 10px 10px 10px 10px;
  border-radius: 8px;
  /* background-color: #855cad; */
  background-color: #0d6efdde;
}

.list-title {
  display: flex;
  justify-content: space-between;
  padding: $spacer 0 $spacer*0.5 0;
}

.list-item {
  margin-top: $spacer;
  padding: 5px 5px 5px 5px;
  color: $black;
  // background-color: $main50;
   /* background-color: #b399cc; */
  background-color: #0d6efd14;
  height: auto;
  width: auto;
  border-radius: $border-radius * 4;
  // border: 2px solid $neutral50;
  -webkit-box-shadow: 2px 3px 4px 0px rgba(84,84,81,0.28);
  box-shadow: 2px 3px 4px 0px rgba(84,84,81,0.28);

  p {
    margin-bottom: 0;
  }
}

.add-new {
  box-shadow: 2px 3px 4px 0px rgba(140, 140, 135, 3%);
  text-align: center;

  color: rgba(84,84,81,0.28);
  /* border: 3px dashed; */
  /* border: 3px dashed; */
  /* background-color: #EBEBEB; */
  background-color: #cdcdcd;
}


.list-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-name {
  margin: 7px;
}

.list-container {
  position: relative;
}

.icons-container {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  line-height: 0;
}

.category-icon {
  /* width: 50px; */
  width: auto;
}
.mb-3 {
  margin: 10px;
}
.pb-2 {
  margin: 10px;
}
